# Functions

#### Warm up

In [119]:
result = []
bands1 = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']



bands2 = [x.strip().strip(' . ').title() for x in bands1]
print(bands2)

['The Beatles', 'The Rolling Stones', ',The Eagles', 'The Temptations']

In [ ]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [120]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']
bands3 = [x.strip().strip(' ., ').title() for x in bands2]
print(bands3)

['The Who', 'The Doors', 'The Band', 'The Kinks']

In [ ]:
bands_3 = ['   tHe ']

## Functions

In [ ]:

#DRY principle
#Don't Repeat Yourself

##### User-Defined vs. Built-In Function

In [53]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [57]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello(): #defining function
    print('Hello')
print(say_hello)
say_hello

<function say_hello at 0x121670ea0>
Hello

In [56]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [58]:
# Executing a function
# Syntax: function_name()
say_hello()

Hello

##### Accepting Parameters

In [61]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>
def say_hello_again(first, last): #first/last are paramaters (placeholders)
    print(f'Hello {first.title()} {last.title()} How are you today?')

    
# Execute
# Syntax: function_name(data1, data2)
say_hello_again('william', 'reeder') # william and reeder are arguments (aka real data)

Hello William Reeder How are you today?

In [62]:
say_hello_again('sara','stodder')
say_hello_again('stanton', 'brian') #position matters

Hello Sara Stodder How are you today?

##### Passing in variables as arguments

In [75]:
city1 = 'Boston'
state1 = "MA"
zip_code1 = '02134'

city2 = 'New York'
state2 = 'NY'
zip_code2 = '12045'

In [82]:
#function to format an address -> city, state -- zip
def format_address(city_name, state_code, zip_code):
    print(f'{city_name.title()}, {state_code.upper()} -- {zip_code}')
format_address(city1, state1, zip_code1)

Boston, MA -- 02134

In [67]:
format_address('Chicago', 'il', '60606')

Chicago, IL -- 60606

In [77]:
format_address(city2, state2, zip_code2)

New York, NY -- 12045

In [79]:
def main():
    print('This is an address formatter program')
    keep_going = True
    while keep_going:
        city = input('What city?')
        state = input(f'What state code for {city.title()}?')
        zip_code = input('What is your zip code?')
        format_address(city, state, zip_code)
        response = input('would you like to format another? type no to quit')
        if response == 'no':
            keep_going = False

In [ ]:
main()

This is an address formatter program

In [ ]:
#function for making a payment to a loan

def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"you have made mayment of {amount_paid} to {account_number}")
    print(f"your new balance is {new-total}")

In [ ]:
make_a_payment(1000,100,'234324') #positional arguments

In [ ]:
#keyword arguments
make_a_payment(amount_paid=200, account_number='2342', total_amount_due=1400)

In [ ]:
#combination of position and keyword work together *ALL keyword arguements must come after positions

make_a_payment(5000, account_number='3234223423', amount_paid=1000)

##### Keyword Arguments

##### Default Parameters

In [17]:
# def function_name(pos_param1, pos-param2, default_param=default_val1, default_param2=default_val2)
# <code for fxn here>
#default parameters need to be after any non-default parameters

    
def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=None, bacon=0):
    total_price = 4.50
    message = f'Thank you {customer_name}. Here is your receipt:\n'
    message += '1 Hamburger\n'
    if cheese:
        message += '\twith cheese\n'
    if lettuce:
        message += '\twith lettuce\n'
    if tomato:
        message += '\twith tomato\n'
    if bacon:
        message += f'{.75*bacon}'
    if onions:
        message += f'\twith {onions} onions\n'
        total_price += .50
    message += f'Total: ${total_price:.2f}'
    total_price += *.75*bacon
    print(message)

In [2]:
make_a_burger('brian')

Thank you brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [4]:
make_a_burger('Alex', False)

Thank you Alex. Here is your receipt:
1 Hamburger
	with lettuce
	with tomato
Total: $4.50

In [5]:
make_a_burger('Frank', True, True, None, 2)

Thank you Frank. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with 2 onions
Total: $5.00

In [18]:
make_a_burger('Natalie', onions='grilled', tomato=False, bacon=3)

Thank you Natalie. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
2.25	with grilled onions
Total: $5.00

##### \*args and **kwargs

In [19]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [21]:
min(12,23,32,23) #*args

12

In [23]:
def my_function(arg1, *args):
    print('Arg1', arg1)
    print('Args:', args, type(args))
my_function(1,2,4,2323,3)

Arg1 1
Args: (2, 4, 2323, 3) <class 'tuple'>

In [25]:
def average(*nums):
    print(nums)
    total = 0
    for num in nums:
        total += num
    return total/len(nums)
average(99,1,23,5)

#puts into tuple

(99, 1, 23, 5)

32.0

In [28]:
def another_func(**kwargs): #packages into dictionary/array; allows for optional keywords
    print(kwargs)
    print(type(kwargs))
another_func(name='brian', city='chicago', languages=['python', 'javascript'], avacado=True)

{'name': 'brian', 'city': 'chicago', 'languages': ['python', 'javascript'], 'avacado': True}
<class 'dict'>

In [31]:
def alltogether(arg1, arg2, *args, default='hello', **kwargs):
    print('arg1',arg1)
    print('arg2', arg2)
    print('args', args)
    print('default', default)
    print('kwargs', kwargs)
alltogether('a','b','c','d','e', test=123, name='brian', default='goodbye')

arg1 a
arg2 b
args ('c', 'd', 'e')
default goodbye
kwargs {'test': 123, 'name': 'brian'}

In [48]:
def alltogether1(one, two, three, four, five,):
    print(one)
alltogether1(cars)

TypeError: alltogether1() missing 4 required positional arguments: 'two', 'three', 'four', and 'five'

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [54]:
cars = [
    ('blue', 'toyota', 'tundra'), 
    ('green', 'chevy', 'silverado'), 
    ('pink', 'ford', 'f-150'), 
    ('red', 'ford', 'mustang'),
    ('yellow', 'toyota', 'prius')
]

def format_car(color, make, model):
    print(f'{color[0]})

yellow toyota prius
yellow toyota prius
yellow toyota prius
yellow toyota prius
yellow toyota prius

In [56]:
def format_car1(color, make, model):
    print(f"{color} {make} {model}".title())
          
for car in cars:
          format_car(car[0], car[1], car[2])

TypeError: format_car() takes 1 positional argument but 3 were given

In [57]:
for col, mak, mod in cars:
    format_car(col, mak,mod)

TypeError: format_car() takes 1 positional argument but 3 were given

In [ ]:
def format_car_cars(*args):
    print(' '.join(args).title())
    format_car_cargs('red','toyota', 'prius')

In [106]:
my_car = ('green', 'honda', 'civic')
format_cars(*my_car)

NameError: name 'format_cars' is not defined

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
#lexical scope - access variables from outer scope, but not inner scope

In [62]:
student = 'little Time' #global variabls
teacher = 'Ms. Buttercup'

def assign_student(student_name):
    teacher='Mr Smith' # local
    print(f"{student_name} has been assigned to {teacher}'s classroom")
    
assign_student('Brian')
assign_student(student)
#print(student_name) -> doesn't work b/c defined locally

Brian has been assigned to Mr Smith's classroom
little Time has been assigned to Mr Smith's classroom

In [69]:
evens_only = [] #define global variable evens_only
def get_only_evens(list_of_nums):
    #loop through argument list
    evens_only = [] #defined locally
    for num in list_of_nums:
        #chck if number even
        if num %2==0:
            #add the num to the evens_only list
            evens_only.append(num)
        #once finished looping, print evens_only list
    print(evens_only)
print('s')
get_only_evens(evens_only)    

#define in global -> keeps on adding to multiple argument calls: fxn(nums)
#define local -> restarts output list, starting with NEW empty list
#^^^ LOOK ABOVE ^^^

s
[]

In [70]:
get_only_evens([10,15,20,25,30,40])

[10, 20, 30, 40]

In [71]:
get_only_evens([2,3,4,6,7,30])

[10, 20, 30, 40, 2, 4, 6, 30]

In [72]:
my_list = [1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [75]:
#doesn't matter yet

class TestClass:
    class_name = 'Test'
    def __init__(self):
        self.value = 10
    def get_value(self):
        return self.value
    @classmethod
    def get_class(cls):
        return cls.class_name
TestClass.get_class()
print(TestClass.class_name)
print(x.get_value())

Test

NameError: name 'x' is not defined

In [81]:
x = 10
def my_func1():
    y=20
    def my_func2():
        z = 30
        def my_func3():
            print(f'{x+y+z}')
        my_func3()
    my_func2()
   
my_func1()

60

In [ ]:
evens = get_only_evens([1,2,3,4,5,6,7])
print(evens)
for num in evens:
    print(num**2)

##### Returning Values

In [83]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

def f(x):
    return 2*x
y=f(3)
print(y)

6

In [84]:
z= f(10)
print(z, z**2)

20 400

In [92]:
# Return will also immediately terminate the function
def early_return(n):
    for i in range(n):
        if i==5:
            return i
        print(i)
output= early_return(10)
print(output)
print('output2', output2)

0
1
2
3
4
5
output2 0

In [86]:
def another_example(n):
    print('fxn start')
    for i in range(n):
        return i
    print('fxn finish')
output2 = another_example(10000)
print(output2)

fxn start
0

#### Multiple returns in a function

In [95]:
names = ['brian','sarah','brandt','dylan','katie']

def is_in_list(person_name):
    #loop through list of names (from global var)
    for name in names:
        #check if name in list matches input name
        if name == person_name:
            #the person is in the list, so return True
            return True
    #if we get through entire list, we know person is not in list so return false
    return False
is_in_list(names)
is_in_list('brandt')

True

In [98]:
def can_vote(birth_year):
    if 2023 - birth_year >=18:
        return True
    else:
        return False
print(can_vote(2000))
print(can_vote(2010))

True
False

In [99]:
def can_vote2(year):
    if 2023 - year >= 18:
        return True
    return False
print(can_vote2(2000))

True

##### Difference between `return` and `print`

In [100]:
def max_scores(*scores):
    current_max=0
    for score in scores:
        if score > current_max:
            current_max = score
    return current_max

In [103]:
max_scores(10,2,3,5,3,12)

12

In [108]:
scores = []
while True:
    score = input('please enter score enter done when done').lower()
    if score == 'done':
        break
    scores.append(int(score))
top_score = max_score(*scores)
print(f"congrats to winner top score {top_score}")

please enter score enter done when done2

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

def create_headline_print(message):

In [110]:

def create_headline_print(message):
    print(message.strip().title() + '!')
def create_headline_return(message):
    return message.strip().title() + '!'

In [116]:
def format_blog_post(headline,author,body):
    return f"""
    {headline} by {author}
    {body}
    """

In [117]:
def publish_article():
    headline=input('enter headline')
    body=input('input body')
    author=input('author')
    clean_headline = create_headline_print(headline)
    blog= format_blog_post(clean_headline, author, body)
    print(blog)
publish_article()

enter headlinehead
input bodybod
authorme
Head!

    None by me
    bod

#### Functions with Lists

In [121]:
print(bands1)
print(bands2)

['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']
[' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

In [123]:
def clean_band_names(band_list):
    fixed_bands = [band.strip(' ., ').title() for band in band_list]
    return fixed_bands

In [125]:
clean_bands1 = clean_band_names(bands1)
print(clean_bands1)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [128]:
clean_bands2 = clean_band_names(bands2)
print(clean_bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

In [129]:
clean_bands3 = clean_band_names(bands3)
print(clean_bands3)

['The Who', 'The Doors', 'The Band', 'The Kinks']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [139]:
euro_cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

nor_so_am_cities = [
    ("Mexico City", "Mexico"),
    ("Buenos Aires", "Argentina"),
    ("Sao Paulo", "Brazil"),
    ("Santiago", "Chile"),
    ("Rio De Janeiro", "Brazil")
]

#def cities_in_country(list_of_tuples, country_name):
 #   pass



print(cities_in_country(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

None
None
None

In [146]:
def cities_in_country(cities, country):
    """
    takes two parameters first is tuple and second is country
    -> returns list of citiesfor that country
    loop through cities and find when countries are the same, and append the city
    """
    result = []
    for city in cities:
   
        if country == city[1]:
            result.append(city[0])
           # print(city[0])
    return result
        
cities_in_country(euro_cities, "England")    
    
print(cities_in_country(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

In [ ]:
#def cities_in_country(list_of_tuples, country_name):
 #   cities = []
  #  for city, country in list_of_tuples: #unpacking touples
   #     if country == country_name:
    #        cities.append(city[0]) #city.append(city)
    #return cities
    
 #unpacked with the car exercise up top

#### Docstrings

In [130]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [134]:
help(clean_band_names)

Help on function clean_band_names in module __main__:

clean_band_names(band_list)

In [135]:
# A docstring is a string that is directly after our fxn definition;
#first line of fxn codeblock

def add_nums(num1, num2):
    """
    add_nums takes in two number types (int or float) and will add together
    num1 -> int or float
    num2 -> int or float
    returns int or float
    """
    
    return num1+num2
help(add_nums)

Help on function add_nums in module __main__:

add_nums(num1, num2)
    add_nums takes in two number types (int or float) and will add together
    num1 -> int or float
    num2 -> int or float
    returns int or float

In [137]:
add_nums(10,20)
add_nums(2.3,4.3)

6.6

In [138]:
def x(y,z):
    return y+z
print(x(10,20))

30

In [147]:
a, *y, z = [1,2,3,4,5]
print(first, between, last)

NameError: name 'first' is not defined